h1 a, h1 a:hover {
    color: white;
    text-decoration: none;
}
.carousel-caption {
    top: 91.5%;
    transform: translateY(-50%);
    bottom: initial;

}
.carousel-caption h1{
    font-size: 90px;

}
.carousel-item div {
    height: 800px;
}
.img1{
    background-image: url(../images/brisbane.jpg);
    background-position: center;
    background-size: cover;
}
.img2{
    background-image: url(../images/paris.jpg);
    background-position: center;
    background-size: cover;
}
.img3{
    background-image: url(../images/tokyo.jpg);
    background-position: center;
    background-size: cover;
}

#carouselWrapperFade {
height: 800px;
font-family: Verdana, Geneva, Tahoma, sans-serif;

}